<fieldset>
    <legend class="screen-reader-text">Post Formats</legend>
    <div class="wcce-enquiry-form-field-content">
        <div class="wcce-enquiry-form-input-field-container">
            <label>Label</label>
            <input type="text" ng-model="field.label" class="wcce-enquiry-form-input-field" />
        </div>
        <div class="wcce-enquiry-form-input-field-container">
            <p>A randomize alpha-numeric code will be added in your form field</p>
        </div>

        <div class="wcce-enquiry-form-input-field-container">
            <a href="#" ng-click="removeFormField($index, $event)" class="wcce-remove-form-field">Remove</a>
    </div>
</fieldset>