/*dynamic declaration*/
.inbox-msg, .select-area-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
}

.select-area-left, .select-area-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat-img {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
}

.chat-img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
}

.css-b62m3t-container {
  min-width: 9.938rem;
  border-radius: 0.125rem;
}
.css-b62m3t-container .css-13cymwt-control {
  max-height: 2rem;
}

.css-qbdosj-Input {
  max-height: 2rem;
  margin: 0 !important;
  padding: 0 !important;
}

.select-area-right input {
  min-width: 12rem;
  border-radius: 0.25rem;
  border: #d4d1d9 solid 0.06rem;
  color: #181718;
}

.inbox-chat .chat-list .chat-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fdfdfe;
  border: 0.06rem solid #d9d1d4;
  margin: 0 0 0.125rem;
  padding: 0.5rem;
  gap: 1rem;
}
.inbox-chat .chat-list .chat-people h5, .inbox-chat .chat-list .chat-people p {
  margin: 0;
}
.inbox-chat .chat-list .chat-people p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.inbox-people {
  width: 25%;
}

.mesgs {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}
.mesgs .chat-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.06rem solid #d9d4d1;
  background: #fdfdfe;
  padding: 1rem;
}
.mesgs .chat-people span.user-name {
  font-weight: 500;
  font-size: 1rem;
  color: #181718;
}
.mesgs .chat-people p {
  margin: 0;
}
.mesgs .statusDrpDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.mesgs .statusDrpDown .cat-visiblity > span {
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  background: #fceceb;
  color: #DF5D65;
}
.mesgs .statusDrpDown .cat-visiblity {
  position: relative;
}
.mesgs .statusDrpDown .cat-visiblity ul.enquiry-status-open {
  background: #fdfdfe;
  border: 0.06rem solid #d9d4d1;
  padding: 1rem;
  position: absolute;
  width: 5rem;
  right: 0;
  top: 117%;
  margin: 0;
  -webkit-box-shadow: 0rem 1rem 2.5rem rgba(63, 20, 115, 0.05);
          box-shadow: 0rem 1rem 2.5rem rgba(63, 20, 115, 0.05);
}
.mesgs .statusDrpDown .cat-visiblity ul.enquiry-status-open .statusButnArea button {
  background: #e35047;
  border: 0;
  color: #f9f8fb;
  padding: 0.25rem 1rem;
  line-height: 1.6;
  margin: auto;
  border-radius: 0.25rem;
}
.mesgs .msg-history {
  background: #fdfdfe;
  margin: 0.125rem 0;
  padding: 1rem;
  border: 0.06rem solid #d9d4d1;
  border-radius: 0.125rem;
}
.mesgs .input-msg-write {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  background: #fdfdfe;
  border: 0.06rem solid #d9d4d1;
  padding: 1.25rem 1.25rem;
}
.mesgs .input-msg-write textarea {
  border: 0;
  line-height: 1.2;
  resize: none;
  text-transform: capitalize;
}
.mesgs .input-msg-write .send_button {
  background-color: #e35047;
  border: 0;
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  color: #f9f8fb;
  font-weight: 500;
  font-size: 1rem;
  -webkit-box-shadow: -0.25rem 0.5rem 1.5rem rgba(63, 20, 115, 0.15);
          box-shadow: -0.25rem 0.5rem 1.5rem rgba(63, 20, 115, 0.15);
}
.mesgs .imgNameCls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
}
.mesgs .imgNameCls .productDetailid {
  font-weight: 500;
  color: #65438F;
}
.mesgs .imgNameCls .chat-img p img {
  border-radius: 50%;
}

.incoming-msg {
  margin-left: auto;
  width: 40%;
  text-align: right;
}

.received-withd-msg p {
  border: 0.06rem solid #d9d1d6;
  padding: 1rem;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  margin-bottom: 0.25rem;
  background-color: #ece8f1;
}

@media screen and (max-width: 992px) {
  .css-b62m3t-container {
    min-width: 7.938rem;
  }
  .inbox-people {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */